[Unit]
Description=Kubernetes Event Arbiter Service
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /tmp/event_arbiter
ExecStart=/opt/tiger/arbiter/bin/arbiter -log_dir=/opt/log/tiger/arbiter -max_procs=4 -env=prod -dc=lf -host=0.0.0.0 -port=3081
ExecStop=/bin/kill -TERM $MAINPID && /opt/tiger/arbiter/script/grace_shutdown.sh
Restart=always

[Install]
WantedBy=default.target
